body{
 
    background-color:rgb(148, 91, 91);
    background: url(../img/fond1.jpg);
    background-repeat: no-repeat;
    /* background-position: center ; */
    background-attachment: fixed;
    background-size:cover;
    font-family: 'Montserrat'
  

}

#container-login{
    width: 400px;
    height: 430px;
    background-color: #000000b3;
     border-radius: 5px;
     padding: 40px 50px 30px 50px;
     left:50%;
     top: 50%;
     position:absolute;
     color: white;
     transform: translate(-50%,-50%);
     box-sizing: border-box;
     /* box-shadow: 2px 2px 10px #666;  */
}

.inptext input[type="text"], .inptext input[type="password"], .inptext select{
    border:none;
    outline: none;
    background: none;
    color:white;
    margin-bottom: 25px;
    padding-left: 30px;
    padding-bottom: 7px;
    width: 100%;
    font-size: 1.15em;
    border-radius: 0;
    /* font-family:  Helvetica, sans-serif; */
    border-bottom: 1px solid #504d4c;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    background: -webkit-linear-gradient(top,rgba(255,255,255,0)96%,  #df8d00 4%);
    background: linear-gradient(to bottom,rgba(255,255,255,0)96%,  #df8d00 4%);
    background-position:-500px 0;
    background-size: 100%, 100%;
    background-repeat: no-repeat;

}


.inptext input[type="password"]:focus, .inptext input[type="text"]:focus{
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    border-bottom: 0px;

 }



#container-login button[type="button"],#container-registro button[type="submit"]{
    background-color: #024057;
    width: 100%;
    border: 0;
    padding: 8px;
    border-radius: 7px;
    color: white ;
    font-size: 1em;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top: 5px;
    outline: none;

}

#container-login button[type="button"]:hover, #container-registro button[type="button"]:hover{
background-color:  #012f3f;
}
 

/* cust para los iconos */
.cust{
position: absolute;
margin-top:5px;
font-size: 16px;
}
/* enlace  */
#enlace a{
  color: #145e9b;
  
}
#enlace a:hover{
    color:#999999;
    text-decoration: none;
    
  }

#enlace{
    font-size: 0.80em;
    color: #999999;
    

}
/* imagen de logo */
#container-login img,#container-registro img{
    display: block;
    margin: auto;
    margin-bottom: 30px;
}


/*---------------------- css para registro ------------------------------*/
#container-registro{
   width: 450px;
   min-height: 480px;
   background-color: #000000b3;
    border-radius: 5px;
    padding: 35px 50px 40px 50px;
    left:50%;
    top: 50%;
    position: absolute;
    color: white;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    /* box-shadow: 2px 2px 10px #666;   */
}
.reg input[type="text"], .reg input[type="password"], select{
font-size: 1.1em;
padding-bottom: 1px;
margin-left: 5px;
margin-bottom: 2px;
padding-left: 20px;


}

/* para paises */
/* .inptext select{
    color:white;
    background: #00000071;
  
} */ 

.reg .form-check-inline{
    margin-right: 0px;
    align-items: baseline;
}

.infotext{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 290px;
    font-size: 13px;
    align-items: center;
    margin-top: 4px;
 
}
.infotext .ic{
    margin-bottom: 3px;
}
 .inputtext{
     
     font-size: 14px;
     /* flex-wrap: wrap; */
     max-width: 100px;
     line-height: 16px;
     margin-left: 3px;
     /* display: none; */
    
 }

/* -------------------css para Dashboard------------------ */

