
body{
 /* background:; */
 /* font-family: 'Montserrat'; */
 padding-top: 65px;
}
.io{
font-size: 26px;
color:rgba(255, 255, 255, .8);
}
/* -----------------nav-------------------------- */
header{
    background: #091933;
    height: 65px; ;
    
}

header .menu{
    padding: 0px;
   align-items: center;
    padding-right: 80px;
}

header .menu a{
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    font-size: 27px;
}

/* header .menu a:hover{
    color: #FFA302;
} */

header .logo img{
    height: 50px;
    

}
.logo {
    position:absolute;
}
.imagen{
    background: none;
    outline: none !important;
    text-decoration: none;
    border: 0;

}
.config{
    font-size: 1.3em;
}


header .menu .imagen img{
    border-radius: 100px;
    padding: 3px;
    background:rgba(255, 255, 255, .8)
}
header .menu .imagen :hover{
background:#FFA302;
}

/* -----------------barra lateral---------------- */

.barra-lateral{
background: #091933;
color: #fff;
position: fixed;
min-width: 270px;
min-height: 100vh;
padding: 0;
}


 #bl{
background: #df8d00;
 }
.barra-lateral a{
 color: #fff;
} 

hr{
    color: #df8d00
}
/* ----------------menu--------------------- */
.barra-lateral .menu .ca{
    display:block;
    padding: 20px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 0.86em;
    margin-left: 2px;
    margin-right: 2px;
    
    /* border-bottom: 1px solid rgba(255,255,255,.1) */

}


.barra-lateral .menu .ca:hover{
    background: #df8d00;
    border-radius: 50px;
    text-decoration: none; 
    color: #fff;
}


.barra-lateral .menu .ca .f{
    margin-right: 20px;
    font-weight: normal;
    font-size: 1.25em;
}


.oestilo{
    display:block;
    padding: 13px;
    font-family: 'Montserrat';
    /* color:black; */
    font-size: 0.86em;
}

.oestilo:hover{
    background:none;
    
    /* color: black; */
}
/* -------------------div de archivos --------------*/
.archivo{
    padding-top:40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-left: 280px;
    
}
.archivo a span{
    font-family: 'Montserrat';
    font-size: 0.85em;
    
}
.spacefiles{
 min-height: 100px;
}
.h6, h6 {
    font-size: 0.88em;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #686C70;
}
.archivo .h4, h4{
    font-size: 1.4em;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #686C70;
}

.dat .h5, h5{
    font-size: 0.88em;
    font-family: 'Montserrat';
    font-weight: 400;
    color: #686C70; 
}
.fol{
    color: #df8d00;
    font-size: 4.2em;
  
}
.fol1{
    color: #146EB0;
    font-size: 4.2em;
  
}
.fol-1{
    color: #366D9C ;
    font-size: 4.2em;
  
}
.fol0{
    color: #efd81d;
    font-size: 4.2em;
  
}
.fol2{
    color: #df8d00;
    font-size: 4.2em;
 
}

.carpet{
    /* border-bottom-color:  1px solid;; */
    border: 1px solid #DADCE0;
    /* background: #df8d00; */
    padding:6px;
    border-radius: 6px;
    /* text-align: -webkit-center; */
    
}

.carpet3{
    /* border-bottom-color:  1px solid;; */
    /* border: 1px solid #DADCE0; */
    /* background: #df8d00; */
    padding:4px;
    border-radius: 6px;
    text-align: -webkit-center;
    width: min-content;
    
}

.c:hover{
    text-decoration: none;
}
.etiqueta{
    align-self: center;
    padding-left: 0;
    color:#7B7B7B;
}
.etiqueta2{
    align-self: center;
    padding-left: 0;
    color:#7B7B7B;
}


/* #686C70 para textos */
/* /* --------modal perfil------------ */
.perf{
    font-size:105px;
}
.edit{
    align-self: center;
    /* text-decoration: none; */
}

.dat svg:not(:root) {
    /* overflow: hidden; */
    vertical-align: top;
}
.dat a{
    color: #df8d00;
    text-decoration: none;
}

.dat{
    padding: 10px;
    /* box-sizing: border-box; */
}

.dat:hover{
    background: #dddddd;
    border-radius: 50px;
}

.btn-primary{
background: #DF8D00 !important;
border: #DF8D00 !important;
outline: none !important;
/* border-radius: 50px !important; */
}
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem #DF8D00 !important;
}

.btn-secondary{
    background: #024057 !important;
    border: #024057 !important;
    outline-offset: none !important;
}

.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem #024057 !important;
}

/* .bor{
    border: #dddddd 1px solid;
    padding: 17px;

} */
.btn-sb{
    background: none;
    color:#024057;
    font-weight: 600;
    outline: none !important;

}
.btn-sb:focus{
   /* background: #024057 !important; */
   box-shadow: none !important;
}
.btn-sb2{
    background: none;
    color:#df8d00;
    font-weight: 600;

}
.btn-sb2:focus{
    
    box-shadow: none !important;
 }
 #exampleModalCenterTitle{
     font-size: 1em;
     font-weight: 600;
 }

 .modal-dialog-centered{
    justify-content: flex-end;
 }
 .modal-content{
    width: 65%;
 }

 small{
     font-weight: 600;
     color: #686C70;
 }
 .input-modal{
    border:none;
    outline: none;
    background: none;
    border-radius: 0;
     border-bottom: 1px solid #504d4c;

     -webkit-transition: all 0.5s;
     transition: all 0.5s;
     background: -webkit-linear-gradient(top,rgba(255,255,255,0)96%,  #df8d00 4%);
     background: linear-gradient(to bottom,rgba(255,255,255,0)96%,  #df8d00 4%);
     background-position:-500px 0;
     background-size: 100%, 100%;
     background-repeat: no-repeat;
 }

 .input-modal:focus{
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    border-bottom: 0px;
    
 }


 
 .dropdown-menu{
    background:#ffffff;
    font-family: 'Montserrat';
    /* color:black; */
    box-shadow: 1px 1px 2px #666;
    /* box-shadow: #7B7B7B; */
    color:#686C81 !important;
    margin-top: 5px !important;
    /* overflow: hidden !important; */
    /* left: 50px !important; */
    }

   
.dropdown-item {
        color: #686C81 !important;
        font-family: 'Montserrat';
        /* font-weight: 600; */
        font-size: 1em

        /* background: #ffffff; */
     }
 /* .dropdown-item span {
       color:black
     } */
dropdown-item .coli {
        color:#686C81;
        font-weight: normal;
        font-size: 1.25em;
      } 
 /* .dropdown-item span:hover {
    color: white; */
    /* background: #DF8D00; */
 
 .dropdown-item:hover {
    color: white !important;
    background: #DF8D00;
 }
 /* .dropdown-item .coli :hover {
     color:white;
 } */

 li{
    list-style:none;
    /* padding-left: 0px; */
 }
 ul{
    padding-inline-start: 0px !important;
 }
 .nu{
    font-size: 15px !important;
 }
 .nue {
    font-size: 0;
}

.imagenperfil{
 border-radius: 100px
}


 .pricing {
    border: 1px solid #f0f0f0;
    background: #fafafa;
    padding: 2em 1em 1em 1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
    .pricing .pricing-heading {
      margin-bottom: 30px; }
    .pricing .price {
      font-size: 72px;
      color: #df8d00;
      line-height: 50px;
      font-weight: 700; }
      .pricing .price .currency {
        font-size: 30px;
        top: -0.9em;
        padding-right: 10px; }
      .pricing .price small {
        font-size: 13px;
        display: block;
        color: #888f94; }
 .hr2 {
    margin-top: 5px ;
    margin-bottom: 5px;
 }

 .modalcolor{
     background: #091933;
     /* color:white; */
 }
 .titulocolor{
     color:#FFA302 !important;
     font-weight: 700 !important;
 }
 .equis{
     color:#DF8D00 !important;
     text-shadow: none !important;

 }

 .modal-footer{
    padding: 0.7rem !important; 
 }
 .navbar-text {
     padding-top: 0 !important;
     padding-bottom: 0 !important;
 }

 .atras{
     border-radius: 100%;
 }
 .containernav{
padding-left:0 !important; 
 }

 .estil{
     color:#DF8D00;
     font-size: 26px;
 }

 .tamano{
     min-width: 90px !important;
 }

 .wrapper{
     background: #504d4c;
 }

 .fotro{
     font-size: 20px;

 }
 .nuk{
     text-align: center;
 }
 /*------------------ MEDIAQUERIES---------------------- */

@media screen and (max-width: 1000px){

    .barra-lateral{

        min-width: auto;
        /* min-height: auto; */
      /* position: relative; */
    }
    .barra-lateral .menu a span{
        display: none;

    }
    .barra-lateral .menu .ca .f{
        margin-right:0;
    }
    .menu hr{
        display:none;
    }
    .archivo{
        margin-left: 39px;
        margin-top:0px;
        /* padding-left: 10px; */
        padding-top: 20px;
    }

}
/* @media screen and (max-width: 700px){
    .col-sm-auto{
        min-width: auto;
    }
} */
@media screen and (max-width: 575px){
    /* .col-sm-auto{
        width: 65px !important;
    } */
    .barra-lateral{
        min-height: auto;
      position: absolute;
    }
  .usuarioc li{
      display: none;
  }
  .archivo{
    margin-left: 25px;
    margin-top:85px;
    padding-left: 25px;
    padding-top: 20px;
}
    
    .barra-lateral .menu a{
     display: inline-block;
     border-bottom: none;
     width: 63px;
     height: 63px;
    }
    .menu hr{
        display:none;
    }
    
}
@media screen and (max-width: 360px){
    .barra-lateral{
        min-height: auto;
      position: absolute;
    }
    .archivo{
        margin-left: 25px;
        margin-top:150px;
        padding-left: 25px;
        padding-top: 20px;
    }
    .usuarioc{
        display:none !important;
    }
    .barra-lateral .menu a i{
        margin-right:0;
    }
    .barra-lateral .menu a{
        display: inline-block;
        border-bottom: none;
           
       }
       .menu hr{
        display:none;
    }
}
@media screen and (max-width: 411px){
    .barra-lateral{
        min-height: auto;
      position: absolute;
    }
    .archivo{
        margin-left: 25px;
        margin-top:120px;
        padding-left: 25px;
        padding-top: 20px;
    }
}
/* @media screen and (max-width:360px){
    .col-sm-auto{
        width: 65px !important;
    }
    .barra-lateral .menu .ca .f{
        margin-right:0;
    } */
    /* .j{
        min-height: auto;
        min-width: auto;
        width: au;
    } */
/* } */